
@font-face {
  font-family: "monallesia";
  src:
    url("/fonts/monallesiascript.woff2") format("woff2"),
    url("/fonts/monallesiascript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelloHoney";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/hellohoney.woff2") format("woff2");
}

@font-face {
  font-family: "PlayFair Italica";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/PlayfairDisplay.woff2") format("woff2");
}

@font-face {
  font-family: "Eastpoint";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/Eastpoint.woff2") format("woff2");
}
